div.post-form-card {
    margin-bottom: 1rem;
    border-radius: 10px;
    .card-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .card-content-form-control {
            padding-left: 10px;
            margin-bottom: 3px;
            width: 95%;
            text-align: left;
            border-radius: 0px 10px;
        }
    }
}
