div.home-row {
    min-width: 360px;
    padding: 30px;
    border-radius: 20px;
    div.home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        div.home-column {
            min-width: 350px;
            align-self: center;
        }
        div#post-card-container {
            min-width: 350px;
            align-self: center;
        }
    }
}
