.overlay {
    position: absolute;
    top: 50%;
    right: 50%;
    opacity: 0;
    transition: 0.4s ease;
}

.card-media:hover {
    opacity: 0.1;
    background-color: rgba(72, 72, 192, 0.3);
    transition: 1s ease;
}
.profile-icon:hover .overlay {
    opacity: 1;
}
.icon {
    cursor: pointer;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.card-media {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.profile-icon {
    position: relative;
    outline: none;
    border: none;
}
