div.container {
    div.row {
        display: flex;
        justify-content: start;
        div.profile-card-container {
            display: flex;
            justify-content: center;
        }
    }
}
